:root {
  --branding-color: #bac5c9;
  --secondary-color: #f7f5ed;
  --heading-font-family: "Inter", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: 400;
}

h1 {
  font-size: 96px;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-weight: normal;
}

.logo {
  max-height: 100px;
  margin: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  text-decoration: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
  font-weight: bold;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 40px 250px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .github-link,
.contact-page-links a {
  text-decoration: none;
  color: black;
}

footer .email-link:hover,
footer .github-link:hover,
.contact-page-links a:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  padding: 160px 20px;
  text-align: center;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.projects h2 {
  color: var(--branding-color);
}

.content-container {
  padding: 50px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.content a.email-me {
  color: var(--branding-color);
  text-decoration: none;
}

.content a.email-me:hover {
  text-decoration: underline;
  transition: all 100ms ease-in-out;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 14px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 34px;
  }

  h4 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .logo {
    max-width: 50px;
  }

  nav a {
    font-size: 12px;
  }

  footer .email-link {
    font-size: 18px;
  }
}
