body {
  background: pink;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
